@font-face {
    font-family: myFont;
    src: url(Metropolis-Black.otf);
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: white;
}
.description {
    height: 100px;
    width: 80%;
    color: black;
    font-size: 1.6vw;
    font-family: myFont;
    margin: 60px 50px 30px 50px;
}

form {
    display: flex;
    flex-direction: column;
    font-family: myFont;
    background-color: hsl(32, 94%, 60%);
    padding-top: 10px;
    margin-bottom: 100px;
}

.input-fields {
    display: flex;
    justify-content: space-between;
    padding: 0px 0px 40px 0px;
    margin-left: 50px;
    margin-right: 100px;
}

.form-part-first {
    display: flex;
    flex-direction: column;
    width: 300px;
    gap: 10px;
}

.form-part-second {
    display: flex;
    flex-direction: column;
    width: 300px;
    gap: 10px;
}

.form-part-third {
    background-color: white;
}

#action-call {
    color: white;
    margin-left: 50px;
    font-size: 1.7vw;
    text-shadow: 2px 2px black;
}

.input {
    display: flex;
    flex-flow: column wrap;
    margin-bottom: 20px;
    color: white;
    text-shadow: 2px 2px #ff0000;
    font-size: 1.4vw;
}
 input {
     width: 24vw;
    padding: 5px;
    box-sizing: border-box;
    border: 1px solid #555;
    font-size: 0.9em;
    color:#555;
    font-family: myFont;
 }

 input:focus {
    outline: none;
    border: 3px solid #555;

 }

 input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 50px white inset;
    -webkit-text-fill-color: #555;
 }

 input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 50px white inset;
    -webkit-text-fill-color: #555;
 }

 #create-button {
    margin: 30px 50px 30px 50px;
    height: 6vh;;
    width: 13vw;
    font-size: 1em;
    font-family: myFont;
    background-color: hsl(32, 94%, 60%);
    border: none;
    border-radius: 5px;
    color: white;
    text-shadow: 0.5px 0.5px 0.5px rgb(150, 145, 145);
    box-shadow: 1px 1px 1px rgb(150, 145, 145);
    letter-spacing: 0.5px;
 }

 #create-button:hover {
     background-color: hsl(32, 77%, 44%);
 }

 #log-in-para {
    margin: 0 50px 30px 50px;   
 }

 #log-in-link {
     text-decoration: none;
     color: hsl(32, 94%, 60%)
 }

 #log-in-link:hover {
     text-decoration: underline;
 }