@font-face {
    font-family: myFont;
    src: url(Metropolis-Black.otf);
}

body {
    margin: 0px;
    display: flex;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: white;
}
.description {
    position: relative;
    height: 120px;
    width: 70%;
    color: black;
    font-size: 22px;
    font-family: myFont;
    margin: 60px 0px 30px 50px;
}

form {
    display: flex;
    flex-direction: column;
    font-family: myFont;
    background-color: hsl(32, 94%, 60%);
    padding-top: 10px;
    margin-bottom: 100px;
}

.input-fields {
    display: flex;
    padding: 0px 0px 60px 0px;
}

.form-part-first {
    display: flex;
    flex-direction: column;
    width: 300px;
    gap: 10px;
}

.form-part-second {
    display: flex;
    flex-direction: column;
    width: 300px;
    gap: 10px;
}

.form-part-third {
    background-color: white;
}
